doctype html
html 
    head 
        title Contact Us
        link(rel='stylesheet' , href='styles.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    body 
        header 
            nav 
                h1 MyGallery
                ul 
                    li Home Page
                    li Our Services
                    li Contact Us 
        main.contact
            h1 Contact Us 
            div.sous_contact
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam consectetur reprehenderit quam quia harum iusto, eligendi, adipisci blanditiis non iure veniam nisi voluptatem corrupti, culpa laborum libero incidunt fugiat veritatis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum incidunt temporibus vero? Quae at, tempore quaerat, consequatur quas ut distinctio excepturi commodi vitae consectetur ipsam, officiis tempora libero recusandae fugit.
                div.items
                    span 
                        i.fas.fa-phone
                        h2 Phone 
                        p +123456789
                    span 
                        i.fas.fa-envelope
                        h2 Email 
                        p MuGallery@gmail.com
                    span 
                        i.fas.fa-map-marker-alt
                        h2 Adress 
                        p 12345-Street NewYork City(1234567)
                    span 
                        i.fab.fa-facebook
                        h2 Facebook 
                        p MyGallery 
                    span 
                        i.fab.fa-instagram
                        h2 Instagram 
                        p MyGallery 
                    span 
                        i.fab.fa-tiktok
                        h2 TikTok 
                        p MyGallery 
