doctype html
html 
    head 
        title HomePage
        link(rel='stylesheet' , href='/styles.css')
    body 
        header 
            nav 
                h1 MyGallery
                ul 
                    li Home Page
                    li Our Services
                    li Contact Us 
        main 
            div.paragraph 
                h1 Description of our Galery
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum sint enim animi autem dolore consequatur? Itaque natus quas veniam, eos est sint quos laboriosam, illum omnis, quis obcaecati esse autem? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias accusantium sit beatae dolorem adipisci ullam quibusdam enim atque itaque illo corrupti ducimus obcaecati facere, nam laborum laboriosam corporis a numquam?
            div.gallery 
                div.image
                    img(src="https://www.1st-art-gallery.com/media/catalog/product/cache/9bad95616889b8b60a4bb85fbf2f33f9/paintingsL/168087/cafe-terrace-on-the-place-du-f.webp", alt="image")
                    span.description
                        p Vincent Van Gogh
                        p Cafe Terrace on the Place du Forum
                        p $ 345.78
                        button Shop now
                
                div.image
                    img(src="https://www.1st-art-gallery.com/media/catalog/product/cache/9bad95616889b8b60a4bb85fbf2f33f9/paintingsL/112457/christ-in-the-storm-on-the-sea.webp", alt="image")
                    span.description
                        p Rembrandt Van Rijn
                        p In The Storm On The Sea Of Galilee
                        p $ 345.78
                        button Shop now
                div.image
                    img(src="https://www.1st-art-gallery.com/media/catalog/product/cache/9bad95616889b8b60a4bb85fbf2f33f9/paintingsL/168130/the-starry-night-reproduction-.webp", alt="image")
                    span.description
                        p Vincent Van Gogh
                        p The Starry Night
                        p $ 345.78
                        button Shop now
                div.image
                    img(src="https://www.1st-art-gallery.com/media/catalog/product/cache/9bad95616889b8b60a4bb85fbf2f33f9/paintingsL/45819/vase-with-twelve-sunflowers-ii.webp", alt="image")
                    span.description
                        p Vincent Van Gogh
                        p Vase With Twelve Sunflowers II
                        p $ 345.78
                        button Shop now
                div.image
                    img(src="https://www.1st-art-gallery.com/media/catalog/product/cache/9bad95616889b8b60a4bb85fbf2f33f9/paintingsL/142398/battle-of-trafalgar-1805-repro.webp", alt="image")
                    span.description
                        p Louis Philippe Crepin
                        p Battle of Trafalgar 1805
                        p $ 345.78
                        button Shop now
                div.image
                    img(src="https://www.1st-art-gallery.com/media/catalog/product/cache/9bad95616889b8b60a4bb85fbf2f33f9/paintingsL/81249/the-flowered-garden-reproducti.webp", alt="image")
                    span.description
                        p Claude Monet
                        p The Flowered Garden
                        p $ 345.78
                        button Shop now

