doctype html
html 
    head 
        title our Serices 
        link(rel='stylesheet' , href='styles.css')
    body 
        header 
            nav 
                h1 MyGallery
                ul 
                    li Home Page
                    li Our Services
                    li Contact Us 
        main.services
            h1 Our Services 
            div.sous_services
                span 
                    h2 Sales 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repellendus modi accusantium quisquam molestiae ea reprehenderit vero, repellat amet. Quis accusamus voluptatem est sit laborum. Expedita tenetur voluptatum illum dolorem!
                span 
                    h2 Delivery 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptate temporibus quisquam mollitia, voluptas facere quam placeat illum ipsa ab dolorem dolores obcaecati vero suscipit deleniti vitae consequatur rerum aperiam.

